<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em auto; width: 25em">
      <h3>New TinyURL</h3>
      <% if (error) { %>
        <%- include('partials/_error') %>
      <% } %>
      <form action="/urls" method="POST">
        <div class="form-group">
          <label for="longURL">Enter a URL:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://">
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
  </body>
</html>